.custom_accordion {
  .accordion-item {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
  }

  .faq_content_btn {
    color: #2c3036;
    text-decoration: none;
    padding-top: 0.5rem;
    display: block;
    font-size: 1rem;
  }

  .accordion-button {
    background: transparent;
    font-size: 1.1rem;
    color: #0266c6;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }

  .accordion-body {
    padding-top: 0;
    padding-left: 5%;
    font-size: 1rem;
  }

  .accordion-button::after {
    display: none;
  }
}
