// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$_3l: 1600px;

// theme colors
$main_color: #008afe;
$secoundary_color: #155e9b;

// section bg
$section_bg: url(/ads-headerbg.png);
